body
{
    background: silver;
}

#First
{
    background: green;
    width: 25%;
    float: left;
}

#Second
{
    background: yellow;
    width: 75%;
    float: left;
    font-style: italic;
}

#Third
{
    background: red;
    width: 85%;
    float: left;
}
